#### Import

In [2]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme()
sns.set()
#%matplotlib inline

In [3]:
df = pd.read_csv("./train.csv")

#### Drop unnecessary columns

In [4]:
df_cleaned = df.drop(columns=['Name', 'Ticket', 'PassengerId', 'Cabin', 'Embarked'])


df_cleaned.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500

#### Encoding for categorical variables

In [5]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df_cleaned['Sex'] = le.fit_transform(df_cleaned['Sex'])
df=df_cleaned
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int32
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(2), int32(1), int64(4)
memory usage: 45.4 KB

#### Create Y

In [11]:
y = df['Survived']
df_wo_survived = df.drop(columns=['Survived'])

#### Check for NaNs in 2 ways

In [12]:
df_wo_survived.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  891 non-null    int64
 1   Sex     891 non-null    int32
 2   Age     714 non-null    float64
 3   SibSp   891 non-null    int64
 4   Parch   891 non-null    int64
 5   Fare    891 non-null    float64
dtypes: float64(2), int32(1), int64(3)
memory usage: 38.4 KB

In [13]:
print(df_wo_survived.isnull().sum())

Pclass      0
Sex         0
Age       177
SibSp       0
Parch       0
Fare        0
dtype: int64

#### Drop column with missing values

In [14]:
df_wo_na = df_wo_survived.dropna(axis=1)
df_wo_na.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  891 non-null    int64
 1   Sex     891 non-null    int32
 2   SibSp   891 non-null    int64
 3   Parch   891 non-null    int64
 4   Fare    891 non-null    float64
dtypes: float64(1), int32(1), int64(3)
memory usage: 31.4 KB

In [19]:
from sklearn import metrics
from sklearn.model_selection import train_test_split

X_train, X_test,y_train,y_test = train_test_split(df_wo_na,y,test_size=0.3)

from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()
lr.fit(X_train,y_train)
pred = lr.predict(X_test)
print(metrics.accuracy_score(pred,y_test))

0.7873134328358209